



<div id="map"></div>

<button type="button" onClick="Get_district('All')">Click me</button>
@section scripts{
    <script type="text/javascript">
        var districtsLayer;
        var region = "WEST";
        var previousIds;
        var selectedFeature;
        $(document).ready(function () {
            //var map = L.map("map").setView([-36.644259, 144.961057], 7);
            var map = L.map('map', {
                minZoom: 4
            }).setView([-36.644259, 144.961057], 7);

            L.esri.basemapLayer("DarkGray").addTo(map);
            L.esri.basemapLayer('GrayLabels').addTo(map);
            var URL_Districts_FS = "https://gis.interpret.co.nz/arcgis/rest/services/TAC/regionsv2/FeatureServer/4";
            var query_ = "PFI = \'" + region + "\'";
             districtsLayer = L.esri.featureLayer({
                url: URL_Districts_FS,
                simplifyFactor: 0.5,
                precision: 5
            }).setWhere(query_).addTo(map);

            map.on('click', function (e) {
                districtsLayer.query().intersects(e.latlng).run(function (error, Featresults) {
                    // if we find a match dig into the feature attributes to retrive median age
                    if (Featresults.features.length > 0) {
                        districtsLayer.resetStyle(previousIds);
                        previousIds = Featresults;
                        selectedFeature = Featresults.features[0].geometry;
                        console.log(selectedFeature);
                        try {
                            districtsLayer.setFeatureStyle(Featresults.features[0].properties.OBJECTID, {
                                color: '#c2631e',
                                weight: 2,
                                fillColor: '#c2631e',
                                fillOpacity: 0.5
                            });
                        } catch (err) {
                        }
                      var  selected_region = Featresults.features[0].properties.subdiv_code;
                        var districtCode = Featresults.features[0].properties.district_code;
                    }
                });
            });

        });

        // Get informations from the district ID (ZOOM & select the feature)
        function Get_district(str_districtID) {
            districtsLayer.query().where('subdiv_code =\'' + str_districtID + '\'').run(function (error, Featresults) {
                var districtCode;
                // if we find a match dig into the feature attributes to retrive median age
                if (Featresults.features.length > 0) {
                    districtsLayer.resetStyle(previousIds);
                    previousIds = Featresults;
                    selectedFeature = Featresults.features[0].geometry;
                    try {
                        districtsLayer.setFeatureStyle(Featresults.features[0].properties.OBJECTID, {
                            color: '#c2631e',
                            weight: 2,
                            fillColor: '#c2631e',
                            fillOpacity: 0.5
                        });
                    } catch (err) {
                    }
//                    var selected_region = Featresults.features[0].properties.subdiv_code;
//                    $("#selecteddistrictlabel").text("Selected division : " + selected_region);
//                    $("#selecteddistrictlabelbis").text("Selected division : " + selected_region);
                    districtCode = Featresults.features[0].properties.district_code;
                    // Update the LGA partial component
//                    get_model_charts();
//                    $("#DvDpartialLGA").load('@(Url.Action("partialLGAResult", "Home", null, Request.Url.Scheme))?locations=' + districtCode, function () {
//                        ChangeSizeHeight();
//                    });

                }
                else {
                    // change the label
                    $("#selecteddistrictlabel").text("Selected division : All");
                    $("#selecteddistrictlabelbis").text("Selected division : All");

                    // Remove selection layer
                    districtsLayer.resetStyle(previousIds);

                    districtCode = regionforchart;
                    selected_region = regionforchart;

                    // Update the LGA partial component
                    get_model_charts();
                    regionModel = regionModel.replace(" ", "%20");

                    $("#DvDpartialLGA").load('@(Url.Action("partialLGAResult", "Home", null, Request.Url.Scheme))?locations=All_' + regionModel.replace(" ","%20"), function () {
                        ChangeSizeHeight();
                    });
                }
                $('#Spinner').hide();
            });
        }
    </script>
}


