
@{
    Layout = null;
}

<html>
<head>
    <meta charset=utf-8 />
    <title>Esri Leaflet Quickstart</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />


    <!-- Load Leaflet from CDN-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.1.0/dist/esri-leaflet.js"
            integrity="sha512-Tojl3UMd387f6DdAJlo+fKfJZiP55fYT+6Y58yKbHydnueOdSFOxrgLPuUxm7VW1szEt3hZVwv3V2sSUCuT35w=="
            crossorigin=""></script>


    <style>
        body { margin:0; padding:0; }
        #map { position: absolute; top:0; bottom:0; right:0; left:0; }
    </style>
</head>
<body>

<div id="map"></div>

<script>
  
    var map = L.map("map").setView([-36.644259, 144.961057], 5);

    L.esri.basemapLayer("Topographic").addTo(map);

    var URL_Regions_MS = "https://gis.interpret.co.nz/arcgis/rest/services/TAC/regionsv3/MapServer";
    L.esri.dynamicMapLayer({
        url: URL_Regions_MS,
        layers: [0],
        useCors: false,
        opacity: 1
    }).addTo(map);
</script>

</body>
</html>
